{{ define "body" }}
<main class="container -page" style="margin-top: 1rem;">
    <form id="mainForm" novalidate autocomplete="off">
        <div class="field">
            <label class="label" for="email">Email</label>
            <input class="input" id="email" name="email" type="email" placeholder="Email" required pattern=".*@.*" />
            <output hidden class="field-error" name="email-error"></output>
        </div>

        <div class="field">
            <label class="label" for="password">Password</label>
            <input class="input" id="password" name="password" type="password" placeholder="Password" required />
            <output hidden class="field-error" name="password-error"></output>
        </div>

        <div class="field">
            <button class="button -primary" type="submit">
                Submit
            </button>
        </div>
    </form>
</main>
{{ end }}


{{ define "scripts" }}
<script src="/static/script/form.js"></script>
{{ end }}
