{
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "singleAttributePerLine": true,
    "arrowParens": "always",
    "trailingComma": "all",
    "singleQuote": false,
    "semi": true,
    "bracketSameLine": true
}