@use "../abstract/color";
@use "../abstract/font";

.input {
    font-size: font.$control-size;
    font-family: font.$control-family;

    padding: 0.7em 1.3em;

    outline: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    border-color: color.$disabled;

    vertical-align: middle;

    background-color: color.$white;

    &:disabled {
        cursor: not-allowed;

        &,
        &:hover,
        &:active {
            color: color.$text-on-disabled;
            background-color: color.$disabled;
        }
    }
}
